{{ if .Params.plots }}{{ partial "plots.html" . }}{{ end }}
<style>
	.post-date { background: -webkit-linear-gradient(pink, BlueViolet); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	.post-title a { background: -webkit-linear-gradient(white, pink); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
	}
	.post-title {background: -webkit-linear-gradient(rgb(111, 1, 213), rgb(71, 0, 137)); padding: 10px; border-radius: 10px; color: white;}
    sub { opacity: 50%; }
    .logo__text {
        font-size: 3rem;
        color: rgb(132, 0, 0);
    }
    .logo__text:before {
        content: "Silly Little Things";
        -webkit-transform-origin: center;
        -webkit-text-stroke: 5px rgb(218, 0, 0);
        color: red;
        position: absolute;
        filter: url(#filter);
    }
    .logo__cursor {
        display: none;
    }
    .copyright span {
        display: none;
    }

    style {
    display: none;
    }

    .menu__inner li {
        border: 1px solid red;
        padding: 4px;
        position: relative;
        appearance: none;
        padding: 10px;
        color: white;
        cursor: pointer;
        outline: none;
        border-radius: 100px;

        border: 2px solid transparent;
        background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
    }
</style>
<svg height="0" width="0">
<filter id="filter" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
	<feTurbulence type="turbulence" baseFrequency="0.01 0.05" numOctaves="2" seed="316" stitchTiles="stitch" result="turbulence"/>
	<feDisplacementMap in="SourceGraphic" in2="turbulence" scale="8" xChannelSelector="G" yChannelSelector="A" result="displacementMap"/>
</filter>
</svg>
<link rel="canonical" href="https://blog.goose.love/" />
{{ if .Params.nocursor }}
{{ else }}
<script type="module">
    import { rainbowCursor } from "https://unpkg.com/cursor-effects@latest/dist/esm.js";
  
    new rainbowCursor();

    document.getElementById("sponsor").style.setProperty("--x", "50%");
    document.getElementById("sponsor").style.setProperty("--y", "50%");

    document.getElementById("sponsor").onmousemove = (e) => {

const x = e.pageX - e.target.offsetLeft
const y = e.pageY - e.target.offsetTop

e.target.style.setProperty('--x', `${ x }px`)
e.target.style.setProperty('--y', `${ y }px`)
    }
</script>
{{ end }}