<!DOCTYPE html>
<html lang="en" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
  <p class="no_trackers">This page uses 0 trackers, and 0 cookies! (I don't
    even know if anyone reads these, lemme know if you do via <a href="https://tech.lgbt/@blyxyas">Mastodon</a>)
  </p>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
