{{ if .Params.plots }}{{ partial "plots.html" . }}{{ end }}
<style>
	.post-date { background: -webkit-linear-gradient(pink, BlueViolet); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	.post-title a { background: -webkit-linear-gradient(white, pink); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
	}
	.post-title {background: -webkit-linear-gradient(rgb(111, 1, 213), rgb(71, 0, 137)); padding: 10px; border-radius: 10px; color: white;}
    sub { opacity: 50%; }
</style>

<link rel="canonical" href="https://blog.goose.love/" />
<script type="module">
    import { rainbowCursor } from "https://unpkg.com/cursor-effects@latest/dist/esm.js";
  
    new rainbowCursor();
</script>