<div class="info">
    <div class="about-me">
        <h2 id="about-me">About me</h2>
        <p>Hi! I'm Alejandra (a.k.a <b><a href="https://github.com/blyxyas">@blyxyas</a></b>), a Spanish programmer, cat lover and girly girl ✨ I spend the majority of my time working on <a href="https://github.com/rust-lang/rust">Rust</a>, making it faster, reviewing contributor's PRs, and sending cat faces like (^._.^)ﾉ or (=｀ω´=). <sub>Please don't judge.</sub> If you'd like to know more about me, you can always send me an email at blyxyas at gmail dot com<br><br>So yeah, this is my blog, you can go to my special <a href="https://goose.love/">About Me page</a> for more special effects!</p><br><a href="https://blog.goose.love/index.xml">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" viewBox="0 0 455.731 455.731" width="25px" xml:space="preserve">
            <g>
                <rect x="0" y="0" style="fill:#F78422;" width="455.731" height="455.731"/>
                <g>
                    <path style="fill:#FFFFFF;" d="M296.208,159.16C234.445,97.397,152.266,63.382,64.81,63.382v64.348    c70.268,0,136.288,27.321,185.898,76.931c49.609,49.61,76.931,115.63,76.931,185.898h64.348    C391.986,303.103,357.971,220.923,296.208,159.16z"/>
                    <path style="fill:#FFFFFF;" d="M64.143,172.273v64.348c84.881,0,153.938,69.056,153.938,153.939h64.348    C282.429,270.196,184.507,172.273,64.143,172.273z"/>
                    <circle style="fill:#FFFFFF;" cx="109.833" cy="346.26" r="46.088"/>
                </g>
            </g>
            </svg> RSS FEED</a>
    </div>
    <div class="sponsor-me">
        <h2 id="sponsor-me">Supporting my work</h2>
        <p>You can support my work by buying me a coffee or through <a href="https://github.com/sponsors/blyxyas">GitHub Sponsors</a>, it isn't obligatory and I (thankfully) have enough to live, but your support serves as motivation to make Rust more performant!<br>If you choose to donate to me, you can click the GitHub Sponsors link above or the button below.
        
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="blyxyas" data-color="#BD5FFF" data-emoji="☕"  data-font="Lato" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00"></script></p>
    </div>
</div>
{{ if .Params.katex }}{{ partial "katex.html" . }}{{ end }}
