<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
<script defer src="https://cloud.umami.is/script.js" data-website-id="b3d99425-8956-41ac-a6e1-8774dbd10299"></script>
<link rel="canonical" href="https://blog.goose.love/" />
<link rel="me" href="https://tech.lgbt/@blyxyas" />
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
