<div class="main-title-wrapper" id="mainTitle" style="--mouse-x: 1%; --mouse-y:1%;">
<h1 class="main-title">{{ site.Title }}</h1>
</div>

<div class="info">
    <div class="about-me">
        <h2>About me</h2>
        <p>Hi! I'm Alejandra (a.k.a <b><a href="https://github.com/blyxyas">@blyxyas</a></b>), a Spanish programmer, cat lover and girly girl ✨ I spend the majority of my time working on <a href="https://github.com/rust-lang/rust">Rust</a>, making it faster, reviewing contributor's PRs, and sending cat faces like <code>(^._.^)ﾉ</code>, <code>(=｀ω´=)</code> or <code>₍^⸝⸝o ·̫ o⸝⸝ ^₎</code>. <sub>Please don't judge.</sub> If you'd like to know more about me, you can always send me an email at <code>blyxyas at gmail dot com</code><br><br>So yeah, this is my blog, you can go to my special <a href="https://goose.love/">About Me page</a> for more special effects!</p>
    </div>
    <div class="sponsor-me">
        <h2>Supporting my work</h2>
        <p>You can support my work by buying me a coffee</p>
    </div>
</div>