<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
<link rel="canonical" href="https://blog.goose.love/" />
<link rel="me" href="https://tech.lgbt/@blyxyas" />
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
